.logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.hero {
    background: url(../images/slide1.jpg) center center;
    background-size: cover;
    color: #fff;
    height: 80vh;
}

.features {
    margin: 3em 0;
}

.card {
    padding: 1em;
}

.item {
    padding: 2em;
}

footer {
    border-top: 1px solid #e4e4e4;
}

.article {
    margin: 2em 0;
}